<!-- <p>view-accounts-upload works!</p> -->
<div class="claimsUpload">
    <!-- <div class="row">
        <div class="col-2" style="padding-left: 6%;">
            <app-sidenav-bar></app-sidenav-bar>
            <app-dashboard-header class="app-dashboarscreen"></app-dashboard-header>
        </div>
    </div> -->
    <div class="claimsViewUp">
    <hr>
    <div class="container-fluid">
    
    <br>
    <div style="padding:4px; position: relative; top: -20px;">
        <div class="row  gridStyle">
            <div class="col-1 colStyle ">
                <!-- <img (click)="generatePDF(gridOptions)" src="../../assets/image/pdf icon.svg" title="Download Excel"> -->
            </div>
            <div class="col-1 colStylee">
                <!-- <img (click)="downloadExcel()" src="../../assets/image/excel icon.svg" title="Download PDF"> -->
            </div>
            <div class="col-1 colStyles">
            </div>
            <div class="col-2 " style="margin-left: 15px;
            margin-top: 8px;">
    
            </div>
            <!-- <div class="col-1 colStyle" (click)="isOpen = !isOpen" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
                <img src="../../assets/image/attach icon.svg">
                <div>
                    <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
                        [cdkConnectedOverlayOpen]="isOpen" (overlayOutsideClick)="isOpen = false">
                        <div class="overlayDiv">
                            <div class="row">
                                <div class="col-6 overlayCol1">
                                    <label><b>Left:</b></label>
                                    <form [formGroup]="myForms">
                                        <ng-multiselect-dropdown class=" pinningdrp" placeholder="Select Field"
                                            [settings]="dropdownSettings" [data]="toppingListLeft"  formControlName="name1"
                                            [disabled]="disabled" (onSelect)="onItemSelect($event, 'left')"
                                            (onDeSelect)="onItemDeSelect($event, 'left')"
                                            (onDeSelectAll)="onItemDeSelectOrAll($event, 'left')"
                                            (onSelectAll)="onItemSelectOrAll($event, 'left')">
                                        </ng-multiselect-dropdown>
                                    </form>
                                </div>
                                <div class="col-6 overlayCol2">
                                    <label><b>Right:</b></label>
                                    <form [formGroup]="myForms">
                                        <ng-multiselect-dropdown class=" pinningdrp" placeholder="Select Field" formControlName="name2"
                                            [settings]="dropdownSettings" [data]="toppingListRight"
                                            [disabled]="disabled" (onSelect)="onItemSelect($event, 'right')"
                                            (onDeSelect)="onItemDeSelect($event, 'right')"
                                            (onDeSelectAll)="onItemDeSelectOrAll($event, 'right')"
                                            (onSelectAll)="onItemSelectOrAll($event, 'right')">
                                        </ng-multiselect-dropdown>
                                    </form>
                                </div>
                            </div>
    
                        </div>
    
                    </ng-template>
                </div>
            </div> -->
            <div class="col-5 colStyle">
                <label class="entityLabel">Claims upload View </label>
            </div>
    
            <div class="col-1 colStyle">
                <div class="searchBox d-flex searchBarstyle">
                    <!-- <mat-icon class="searchIcon">search</mat-icon>
                    <input class="searchInput searchbarInput" type="text" name=""
                        (keyup)="onFilterTextBoxChanged(gridOptions,$event)" placeholder="Search "> -->
                </div>
            </div>
            <!-- <div class="col-2 colStyleIcon">
                <img src="../../assets/image/Delete-button.svg" *ngIf="deletebutton" (click)="DeleteEntity()" class="editImg" title="Delete">
                <img src="../../assets/image/Authorize-button.svg" *ngIf="!authorizePermission" data-bs-toggle="modal" data-bs-target="#exampleModal" class="editImg" title="Authorize">
                <img src="../../assets/image/download.png" *ngIf=" !authorizePermission"  class="editImg" (click)="onBtnExport()" title="Download">
              </div>                       -->
        </div>
    
    </div>
    <div class="gridStyleMainClView">
        <div style="height: auto;">
            <mat-tab-group>
                <mat-tab label="Bank Details">
                    <br>
                    <div class="row">
                        <div class="col-12">
                            <ag-grid-angular  class="gridUnit" style=" height: 464px;"
                                class="ag-theme-alpine" [rowData]="arrayLoop" (gridReady)="onGridReady($event)"
                                (cellClicked)="onCellClicked($event)" (gridReady)="onGridReady($event)"
                                [defaultColDef]="defaultColDef" [columnDefs]="columnDefs" [pagination]="true"
                                [paginationAutoPageSize]="false" [paginationPageSize]="pageSize">
                            </ag-grid-angular>
                        </div>
    
                    </div>
    
    
                </mat-tab>
                <mat-tab label="Customer Details">
                    <br>
                    <div class="row">
                        <div class="col-12" >
                            <ag-grid-angular class="gridUnit" style=" height: 464px;"
                                class="ag-theme-alpine" [rowData]="arrayLoop" (gridReady)="onGridReady($event)"
                                (cellClicked)="onCellClicked($event)" (gridReady)="onGridReady($event)"
                                [defaultColDef]="defaultColDef" [columnDefs]="uploadcolumnDefs" [pagination]="true"
                                [paginationAutoPageSize]="false" [paginationPageSize]="pageSize">
                            </ag-grid-angular>
                        </div>
    
                    </div>
    
    
                </mat-tab>
                <mat-tab label="Account Details">
                    <br>
                    <div class="row">
                        <div class="col-12" >
                            <ag-grid-angular class="gridUnit"  style=" height: 464px;"
                                class="ag-theme-alpine" [rowData]="arrayLoop" (gridReady)="onGridReady($event)"
                                (cellClicked)="onCellClicked($event)" (gridReady)="onGridReady($event)"
                                [defaultColDef]="defaultColDef" [columnDefs]="columnDefss" [pagination]="true"
                                [paginationAutoPageSize]="false" [paginationPageSize]="pageSize">
                            </ag-grid-angular>
                        </div>
    
                    </div>
                   <br>
    
    
                </mat-tab>
              </mat-tab-group>
    
    
    
        </div>
        </div>
        <div class="row">
            <!-- <div class="col-10"></div> -->
            <div class="col-2 mb-1" style="position:relative; left: 87%;">
                <button (click)="goBack()" type="button"
                    class="btn btn-primary backButton">Back</button>
            </div>
        </div>
    
    </div>
    </div>
    
    <div class="row">
        <div class="col-12 footer">
            <app-nrlm-footer></app-nrlm-footer>
        </div>
    </div>
</div>
