<div class="intrest-Rate">
    <!-- <div class="row">
        <div class="col-2" style="padding-left: 6%;">
            <app-sidenav-bar></app-sidenav-bar>
            <app-dashboard-header class="app-dashboarscreen"></app-dashboard-header>
        </div>
    </div> -->
    <div class="rateS">
    <hr>
    <div class="container-fluid">
        <div class="row gridRow">
            <div class="mt-2 row align-items-center justify-content-evenly gridStyle1 ms-2">
                <!-- Select Bank -->
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 d-flex justify-content-evenly">
                    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4">
                        <label class="unitLabelsE">Bank</label>
                    </div>
                    <div class="col-xxl-9 col-xl-9 col-lg-8 col-md-8 bankDrp">
                        <ng-select [clearable]="false"  [(ngModel)]="bankCode"  class="levelDropdownNrlmm" id="Bank" name="unitName" [items]=unitsData
                                   placeholder="Select Bank" bindLabel="bank" bindValue="unit" (change)="getbankCode($event)"
                                   required>
                        </ng-select>
                    </div>
                </div>
    
                <!-- FY Start -->
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6 d-flex justify-content-evenly fyColNrlm">
                    <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-5">
                        <label class="unitLabels">FY Start</label>
                    </div>
                    <div class="col-xxl-7 col-xl-6 col-lg-5 col-md-7 fystDropdown">
                        <ng-select [clearable]="false" [(ngModel)]="selectedStartYear" (ngModelChange)="updateEndYears()" id="startYear" class="fyDropdown">
                            <ng-option *ngFor="let year of startYears" [value]="year">{{ year }}</ng-option>
                          </ng-select>
                    </div>
                </div>
    
                <!-- FY End -->
                <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 d-flex justify-content-evenly fendNrlm">
                    <div class="col-xxl-6 col-xl-7 col-lg-6 col-md-4">
                        <label class="unitLabelss">FY End </label>
                    </div>
                    <div class="col-xxl-6 col-xl-5 col-lg-6 col-md-4 fystDropdown">
                        <ng-select [clearable]="false" placeholder="select year" [(ngModel)]="selectedEndYear" (ngModelChange)="EndYears()"  id="endYear" class="fyDropdown">
                            <ng-option *ngFor="let year of endYears" [value]="year">{{ year }}</ng-option>
                        </ng-select>
                    </div>
                </div>
    
                <!-- Submit Button -->
                 <div class=" col-xxl-2 col-xl-2 col-lg-1 col-md-3 col-sm-6 text-center">
                    <button class="btn btn-success btn-sm btnNRLM" (click)="getRatesData()">Submit</button>
                </div>
            </div>
            <div class="col-12">
                <div style="margin-top: -25px;padding: 4px;">
                    <div class="row  gridStyle">
                        <div class="col-1 colStyle ">
                            <img (click)="generatePDF(gridOptions)" src="../../assets/image/pdf icon.svg" data-bs-toggle="tooltip" data-bs-placement="top" title="Download Pdf">
                        </div>
                        <div class="col-1 colStylee">
                            <img (click)="downloadExcel()" src="../../assets/image/excel icon.svg" data-bs-toggle="tooltip" data-bs-placement="top" title="Download Excel">
                        </div>
                        <div class="col-3 colStyles">
                            <form [formGroup]="myForms" style="width: 265px;">
                                <!-- Use different methods -->
                                <ng-multiselect-dropdown class="promo statuses111" formControlName="name"
                                    [settings]="dropdownSettings" [data]="toppingList" (onSelect)="ColumnSelect($event)"
                                    (onDeSelect)="ColumnDeSelect($event)"
                                    (onDeSelectAll)="ColumnDeSelectOrAll($event)"
                                    (onSelectAll)="ColumnSelectOrAll($event)">
                                </ng-multiselect-dropdown>
                            </form>
                        </div>
                        <!-- <div class="col-1 colStyle" >
                            <img src="../../assets/image/attach icon.svg" (click)="isOpen = !isOpen" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
                            <div>
                                <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
                                    [cdkConnectedOverlayOpen]="isOpen" (overlayOutsideClick)="isOpen = false">
                                    <div class="overlayDiv">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 overlayCol1">
                                                <label><b>Left:</b></label>
                                                <form [formGroup]="myForms">
                                                    <ng-multiselect-dropdown class="pinningdrp" placeholder="Select Field"
                                                        [settings]="dropdownSettings" [data]="toppingListLeft"
                                                        formControlName="name1" [disabled]="disabled"
                                                        (onSelect)="onItemSelect($event, 'left')"
                                                        (onDeSelect)="onItemDeSelect($event, 'left')"
                                                        (onDeSelectAll)="onItemDeSelectOrAll($event, 'left')"
                                                        (onSelectAll)="onItemSelectOrAll($event, 'left')">
                                                    </ng-multiselect-dropdown>
                                                </form>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 overlayCol2">
                                                <label><b>Right:</b></label>
                                                <form [formGroup]="myForms">
                                                    <ng-multiselect-dropdown class="pinningdrp" placeholder="Select Field"
                                                        formControlName="name2" [settings]="dropdownSettings"
                                                        [data]="toppingListRight" [disabled]="disabled"
                                                        (onSelect)="onItemSelect($event, 'right')"
                                                        (onDeSelect)="onItemDeSelect($event, 'right')"
                                                        (onDeSelectAll)="onItemDeSelectOrAll($event, 'right')"
                                                        (onSelectAll)="onItemSelectOrAll($event, 'right')">
                                                    </ng-multiselect-dropdown>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div> -->
                        <div class="col-1 colStyle">
                            <label class="entityLabel">Rate</label>
                        </div>
                        <div class="col-2 colStyle" style="margin-left: 105px;">
                            <div class="searchBox d-flex searchBarstyle">
                                <mat-icon class="searchIcon">search</mat-icon>
                                <input class="searchInput searchbarInput" type="text" name=""
                                    (keyup)="onFilterTextBoxChanged(gridOptions,$event)" placeholder="Search ">
                            </div>
                        </div>
                        <!-- (click)="addEntity()" -->
                       
                        <div class="col-2 colStylessss" *ngIf="showhided && authorizePermission">
                            <img src="../../assets/image/view.svg" data-bs-toggle="tooltip" data-bs-placement="top" title="View Rate" (click)="viewEnity()"class="viewEn2">
                            <ng-container *ngIf="authorizePermission && showhided && checker !== maker && statusname !== 'A' && statusname !== 'R'">
                             <img src="../../assets/image/Authorize-button.svg"
                                  data-bs-toggle="tooltip"
                                  data-bs-placement="top"
                                  title="Authorize Rate"
                                  class="AuthImg"
                                  (click)="AuthorizeEntity()">
                           </ng-container>
                        </div>

                        <div class="col-1" data-bs-toggle="modal" data-bs-target="#exampleModalUpload"  routerLinkActive="active" *ngIf="AddPermission"  [ngClass]="showhided ? 'colAdd1': 'colAdd'">
                            <img src="../../assets/image/add new icon.svg" data-bs-toggle="tooltip" data-bs-placement="top" title="Add Rate">
                        </div>
                        <div class="col colStylesss" *ngIf="showhided && !authorizePermission">
                           <img src="../../assets/image/view.svg" data-bs-toggle="tooltip" data-bs-placement="top" title="View Rate" (click)="viewEnity()" [ngClass]="showhided ? 'viewEn': 'viewEn1'">
                        </div>

                        
                         <div class="col-1 colStylesss" *ngIf="showhided && !authorizePermission" style="position: relative; right: 4px;">
                             <!-- <button class="editImgD" data-bs-toggle="modal" data-bs-target="#exampleModalToggle2"><img src="../../assets/image/edit.svg" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Rate" *ngIf="EditPermission && checker!== maker && (statusname !== 'Rejected' && statusname !== 'Authorized')"></button> -->
                             <img  style="margin-left: 2px;" src="../../assets/image/edit.svg" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Rate" class="editImg" (click)="editEnity()" *ngIf="EditPermission && checker===maker && (statusname === 'U' || statusname === 'M' || statusname === 'R'|| statusname === 'A')">
                             <img  style="margin-left: 2px;" src="../../assets/image/edit.svg" data-bs-toggle="tooltip" (click)="editRateDialog()" data-bs-placement="top" title="Edit Rate" class="editImg"  *ngIf="EditPermission && checker!==maker && (statusname === 'U' || statusname === 'M'|| statusname === 'R' || statusname === 'A')">
                               <ng-container *ngIf="authorizePermission && showhided && checker !== maker && statusname !== 'A' && statusname !== 'R'">
                                <img src="../../assets/image/Authorize-button.svg"
                                     data-bs-toggle="tooltip"
                                     data-bs-placement="top"
                                     title="Authorize Rate"
                                     class="AuthImg"
                                     (click)="AuthorizeEntity()">
                              </ng-container>
                              <ng-container *ngIf="EditPermission && showhided && statusname === 'R' && deletePermission">
                                <img data-bs-toggle="modal"
                                data-bs-target="#exampleModalToggle3" style="margin-left: 8px;" src="../../assets/image/Delete-button.svg"
                                     data-bs-toggle="tooltip"
                                     data-bs-placement="top"
                                     title="Delete Rate"
                                     class="editImg"
                                     (click)="deleteEntity()">
                              </ng-container>
                         </div>
                          <!-- <img src="../../assets/image/upload.svg" data-bs-toggle="tooltip" data-bs-placement="top" title="Bulk Upload" class="editImg" *ngIf="EditPermission && showhided"> -->
                       
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            <ag-grid-angular class="gridUnit" style=" height: 490px; position: relative; right: 12px;text-align: center;"
                                class="ag-theme-alpine"
                                [rowData]="interestRateData"
                                [defaultColDef]="defaultColDef" [columnDefs]="columnDefs"
                                [paginationAutoPageSize]="false"  [pagination]="true"
                                [paginationPageSize]="pageSize"
                                [cacheBlockSize]="pageSize"
                                [paginationNumberFormatter]="customNumberFormatter"
                                [groupSelectsChildren]="true"
                                (cellClicked)="onCellClicked($event)"
                                (gridReady)="onGridReady($event)">
                            </ag-grid-angular>
                            <!-- <div class="paginDiv">
                                <label for="pageSize"></label>
                                <select id="pageSize" [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChanged()">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                  </select>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Popup for when checker and maker are not same for Delete -->
        <div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel3" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header d-flex justify-content-center" style="background:#E1F6E8 !important">
                  <h1 class="modal-title text-center flex-grow-1" id="exampleModalLabel">Comment</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center p-5">
                  <h4>You are not the maker are your still wants to delete ?</h4>
                </div>
                <div class="modal-footer justify-content-around m-3" >
                  <a class="btn btn-link btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModalToggle" (click)="deleteEntity()">Yes</a>
                  <a class="btn btn-link btn-sm" data-bs-toggle="modal" data-bs-dismiss="modal" aria-label="Close" data-bs-target="#exampleModalToggle">No</a>
                  </div>
              </div>
            </div>
          </div>
        <!-- Popup for when checker and maker are not same for Edit -->
          <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel3" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header d-flex justify-content-center" style="background:#E1F6E8 !important">
                  <h1 class="modal-title text-center flex-grow-1" id="exampleModalLabel">Comment</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center p-5">
                  <h4>You are not the maker are your still wants to Edit ?</h4>
                </div>
                <div class="modal-footer justify-content-around m-3" >
                  <a class="btn btn-link btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModalToggle" (click)="editEnity()">Yes</a>
                  <a class="btn btn-link btn-sm" data-bs-toggle="modal" data-bs-dismiss="modal" aria-label="Close" data-bs-target="#exampleModalToggle">No</a>
                  </div>
              </div>
            </div>
          </div>
    </div>
    <!-- NRLM Upload  Screen-->
    <div class="modal fade modal-xl" id="exampleModalUpload" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="container modal-content">
                <div class="row d-flex">
                    <div class="col-4">
                        <img src="../../assets/image/close.png" data-bs-dismiss="modal" aria-label="Close" class="close-icon">
                    </div>
                </div>
                <div style="margin-bottom: 0.5rem !important;" class="row m-0 d-flex justify-content-start">
                    <!-- select unit -->
                    <div class="col-3 d-flex ">
                        <div class="col-md-4 col-12">
                            <br>
                            <label class="unitLabelMF">Bank</label>
                        </div>
                        <div class="col-md-8 col-12 fyDrp">
                            <br>
                            <ng-select [clearable]="false" [(ngModel)]="selectedBank" class="levelDropdown" id="unitName" name="unitName"
                            [items]="addRateBanks" placeholder="Select Bank" bindLabel="bank" bindValue="unit"
                            required (ngModelChange)="getSelectedBank()">
                        </ng-select>
                        </div>
    
                    </div>
                    <!-- fy ending -->
                    <div class="col-4 d-flex">
                        <div class="col-md-6 col-12">
                            <br>
                            <label class="unitLabelFE">FY End</label>
                        </div>
                        <div class="col-md-4 col-12 " style="margin-left: -83px;">
                            <ng-select [clearable]="false" [(ngModel)]="selectedFyEndDates" (ngModelChange)="SelectedFyEnding()" id="startYear" class="startDropdown yearCol">
                                <ng-option *ngFor="let year of startYearspopup" [value]="year">{{ year }}</ng-option>
                            </ng-select>
                        </div>
                    </div>
                    <!-- *ngFor="let year of endYears" [value]="year" -->
                    <!-- *ngFor="let year of qtdata" -->
                    <!-- selectedFYEndDate -->
                    <!-- selectedQtrEndDate -->
                    <!-- (ngModelChange)="SelectedFyEnding()" -->
                    <!-- (ngModelChange)="onSelectFinancialYearQtrEndpopup()" -->
                    <!-- Fy ending -->
                    <div class="col-2 d-flex g-0" style="margin-left: -126px;">
                        <div class="col-md-6 col-12">
                            <br>
                            <label  class="unitLabelMM
                                ">Qtr End</label>
                        </div>
                        <div class="col-md-8 col-12 yearCol" style="margin-left: -12px;">
                            <ng-select [clearable]="false" [(ngModel)]="selectedQtrEndDate" (ngModelChange)="onSelectFinancialYearQtrEndpopup()" placeholder="select year" id="endYear">
    
                                <ng-option *ngFor="let year of qtdata" [value]="year">{{ year }}</ng-option>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-2" style="margin-top: 1rem;margin-left: 6rem;">
                        <button [disabled]="!selectedBank || !selectedQtrEndDate || !selectedFYEndDate || !addRateBanks"
                            class="btn btn-sm SaveButton" data-bs-toggle="modal"
                            data-bs-target="#exampleModalLstQtr" (click)="checkAddEnable()">Submit</button>
                    </div>
                </div>
                <br>
        </div>
    
    </div>
</div>
<div class="row">
    <div class="col-12 footer m-0" >
      <app-nrlm-footer></app-nrlm-footer>
    </div>
  </div>
</div>

<app-warning-log-dialog (rateEvent)="editEnity()"></app-warning-log-dialog>
<app-error-dialog></app-error-dialog>