.app-dashboarscreen{
    position: relative;
        bottom: 71px;
    }
    .ag-theme-alpine {
        --ag-header-column-separator-display: block;
        --ag-header-column-separator-height: 30%;
        --ag-header-column-separator-width: 2px;
        --ag-header-column-separator-color: rgba(0, 0, 0, 0.34);

    }
    .container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    background: white;
    /* margin-left: 4%; */
    /* height: 1152px; */
    padding-left: 29px;
}

::ng-deep.mat-mdc-tab-labels {
    width: 38%;

}

::ng-deep.modal-content{
    width: 85%;
    height: 110px;
    margin-left: 150px;
}

::ng-deep.mat-mdc-tab .mdc-tab__text-label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    color: black;
}
::ng-deep.modal-backdrop{
    position: relative;
   }

::ng-deep.mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label,
.mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
    color: black;
}

.gridRow {
    height: 670px;
    width: 100%;
    background: rgba(255, 255, 255, 0.78);
    opacity: 0.78;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

::ng-deep.mat-mdc-tab-body-wrapper {
    /* height: 524px; */

}

:host ::ng-deep.mat-mdc-tab-body-content {
    height: 100%;
    overflow: unset;
    width: 97%;
    position: relative;
    left: 19px;
}


.gridRow1 {
    background: rgba(255, 255, 255, 0.78);
    opacity: 0.78;
    border: 1px solid rgba(0, 0, 0, 0.2);
    /* height: 32%; */
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 10px;
}

.editImg {
    margin-left: 19px;
    cursor: pointer;
}
.AuthImg {
    margin-left: -45px;
    cursor: pointer;
}
.editImgD {
    padding: 0;
    margin-left: 19px;
    border: none;
}

.gridStyle {
    background: rgba(255, 255, 255, 0.78);
    /* opacity: 0.78; */
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 57px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 3px;
    width: 101%;
    margin-left: -6px;
}
.gridStyle1 {
    background: rgba(255, 255, 255, 0.78);
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 8%;
    border-radius: 3px;
    width: 98.3%;
    background-color: rgba(43, 190, 95, 0.1);
}

/*-- Dropdown --*/
.custom-wrapper {
    max-width: 460px;
    margin: 0 auto 50px;
}

::ng-deep.multiselect-dropdown {
    border: 1px solid rgba(0, 0, 0, 0.33);
    border-radius: 7px;
    position: relative;
    width: 265px;
    font-size: inherit;
    font-family: inherit;
}

::ng-deep.multiselect-dropdown .dropdown-btn {
    height: 36px;
    width: 66%;
}

.entityLabel {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 34px;
    margin-left: 125px;
    color: #000000;
}

.searchIcon {
    position: absolute;
    top: 6px;
    left: 7px;
    color: grey;
}

.ag-header-cell-text {
    font-family: 'Sans Serif Collection';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.78);
}

::ng-deep.ag-header-cell-text {

    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Sans Serif Collection';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.78) !important;
}

::ng-deep.ag-header {
    background-color: rgba(43, 190, 95, 0.1);
    ;
}

::ng-deep.ag-paging-panel {
    align-items: center;
    display: flex;
    justify-content: center;
}

.ag-theme-alpine {
    --ag-header-column-separator-display: block;
    --ag-header-column-separator-height: 50%;
    --ag-header-column-separator-width: 1px;
    --ag-header-column-separator-color: darkgrey;



}

.ag-theme-alpine {
    /* disable all borders */
    --ag-borders: display;
    /* then add back a border between rows */
    --ag-row-border-style: line;
    --ag-row-border-width: 2px;
    --ag-row-border-color: rgb(150, 150, 200);
    /* background: rgba(255, 255, 255, 0.78);
    opacity: 0.78;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px; */


}
.btnNRLM{
    cursor: pointer;
    background: #7BB31A;
    width: 105px;
}
::ng-deep.ag-header-cell {

    border-right: 1px solid ag-param(secondary-border-color);
}

::ng-deep.ag-ltr .ag-cell {
    cursor: pointer;
}

/*  */

.dropdown-form {
    position: relative;
}

.colStyle {
    margin-top: 10px;
    cursor: pointer;
}
.colStylesss {
    margin-top: 12px;
    cursor: pointer;
    /* position: relative;
    left: 8.5%; */
}
.colStylessss {
    margin-top: 10px;
    cursor: pointer;
    position: relative;
    left: 13.5%;
}


.colStylee {
    margin-left: -4%;
    margin-top: 10px;
}

.colStyles {
    margin-left: -3%;
    margin-top: 10px;
}

.searchBarstyle {
    cursor: pointer;
    position: relative;
    left: 30%;
}

.searchbarInput {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    width: 295px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    padding-left: 31px;
}

.colAdd {
    position: relative;
    margin-top: 12px;
    left: 105px;
    cursor: pointer;
}

.gridUnit {
    width: 1373px;
    height: 350px;
}

.sidenavStyle {
    padding-top: 2%;
    padding-left: 6%;


}



.ag-theme-alpine {
    --ag-header-column-separator-display: block;
    --ag-header-column-separator-height: 30%;
    --ag-header-column-separator-width: 2px;
    --ag-header-column-separator-color: rgba(0, 0, 0, 0.34);

}

.class {
    position: absolute;
    left: 60%;
    bottom: 22%;
}

::ng-deep.pinningdrp .multiselect-dropdown {
    position: relative;
    width: 265px;
    font-size: inherit;
    font-family: inherit;
}

.overlayDiv {
    position: relative;
    height: 126px;
    width: 477px;
    border: 1px solid;
    background: white;
    padding-right: 16px;
}

.overlayCol1 {
    position: relative;
    top: 26px;
    left: 10px;
}

.overlayCol2 {
    position: relative;
    top: 26px;
}

.viewEn {
    /* right: 45px; */
    position: relative;
    left: 2px;
    cursor: pointer;
    /* left: 18px; */
}
.viewEn1 {
    right: 5px;
    position: relative;
    cursor: pointer;
}
.viewEn2{
    right: 55px;
    position: relative;
    cursor: pointer;   
}

::ng-deep .mat-mdc-tab-group {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 4%;
}
::ng-deep.ag-header-cell-label {
    justify-content: center;
    }

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.rateS{
    margin-top: -19px;
}
::ng-deep.ag-theme-alpine {
    --ag-grid-size: 3.6px;
    --ag-list-item-height: 20px !important;
}
.paginDiv{
    position:relative; 
    bottom: 5%;
    width: 3rem;
    margin-left: 45rem;
}
@supports (-moz-appearance:none) {
    .searchBarstyle{
        cursor: pointer;
        position: relative;
        left: 56%;
    }




}
.unitLabelsE {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    padding-left:5%;
    margin-top: 7px;
    color: black;
}
.bankDrp{
    position: relative;
    left: -12%;
}
::ng-deep.levelDropdownNrlmm.ng-select.ng-select-single .ng-select-container {
    height: 32px;
    min-height: 16px;
}
::ng-deep.levelDropdownNrlmm.ng-dropdown-panel {
    width: 99%;
   
}
.fyColNrlm{
    position: relative;
    left: -4%;
}
.unitLabels {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    padding-left: 81px;
    margin-top: 7px;
    color: black;
}
.unitLabelss {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    padding-left:56%;
    margin-top: 7px;
    color: black;
}
.unitLabelsE {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    padding-left:5%;
    margin-top: 7px;
    color: black;
}
.fystDropdown{
    width: 122px;
}
::ng-deep.fyDropdown.ng-select.ng-select-single .ng-select-container {
    height: 34px;
    min-height: 16px;
}
::ng-deep.fyDropdown.ng-dropdown-panel.ng-select-bottom {
    width: 101%;
    margin-left: 0%;
}
.unitLabelMF {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    margin-top: 7px;
    color: black;
}
.close-icon{
    height: 15px;
    cursor: pointer;
    position: absolute;
    left: 96%;
    top: 10%;
    width: 15px;
}
.unitLabelMF {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    margin-top: 7px;
    color: black;
}
.unitLabelFE {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    margin-top: 7px;
    color: black;
}
.fyDrp{
    position: relative;
    right: 10%;
}
::ng-deep.startDropdown.ng-dropdown-panel {

    margin-left: 1px;
}
::ng-deep.startDropdown.ng-dropdown-panel.ng-select-bottom {
width: 99%;
}

::ng-deep.startDropdown.ng-select.ng-select-single .ng-select-container {
    height: 29px;
}
.yearCol {
    margin-top: 19px;
    margin-left: -5px
}
.unitLabelMM {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    margin-top: 7px;
    color: black;
}
.SaveButton {
    /* position: absolute; */
    width: 150px !important;
    height: 41px;
    /* left: 828px; */
    background: #7BB31A;
    color: white;
    border-radius: 5px;
    right: 1px;
}

.colAdd1{
    position: relative;
    margin-top: 12px;
    left: 148px;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .intrest-Rate{
        height: 800px;
    }
  }

  ::ng-deep .multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret:before {
    border-width: 5px 5px 0 !important;
}