<!-- <p>dashboard-header works!</p> -->


<div class="row d-flex">
    <div class="col-3" style="position: relative; left: 4rem;">
        <img style="height: 59px;width: 60px;" src="../../assets/image/Ministry of Rural Development Government of India.svg" alt="" class="NRLMLogo">
    </div>
    <!-- <div class="col-lg-3 col-md-6 col-sm-6 col-6" style="position: relative;left: 210px;top: 10px;">
        <img src="../../assets/image/logoImg1.png" alt="" style="width:80px;height: 50px;">
      </div> -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-6" style="position: relative;left: 22rem;top: 10px;">
        <img src="../../assets/image/logoImg2.png" alt="" style="width:80px;height: 50px;">
      </div>
    <div class="col-3 nabardCol">
        <img src="../../assets/image/Group 1.svg" alt="" class="nabardLogo">
    </div>
    <div class="col-3 logoutCol">
        <img src="../../assets/image/arrow 1.svg" alt="" class="" (click)="Logout()" class="arrowLogo">
    </div>
</div>
<app-logout-dialog></app-logout-dialog>