.app-dashboarscreen {
    position: relative;
    bottom: 71px;
}

.containerStyle {
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    /* height: 598px; */
    margin-left: 14px;
    width: 98%;
    position: sticky;
}
.addEnView{
    margin-top: -19px;
    /* height: 565px; */
}
.entityLabel {
    background: #E1F6E8;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 49px;
    color: #000000;
}

.unitInput {
    border: 1px solid #B2B3B4;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #C9C9C9;
    box-sizing: border-box;
    position: absolute;
    width: 24%;
    height: 36px;
    border: 1px solid #B2B3B4;
    border-radius: 5px;
    padding-left: 13px;
}

.pinCodeInput {
    border: 1px solid #B2B3B4;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #C9C9C9;
    box-sizing: border-box;
    position: absolute;
    width: 439px;
    height: 36px;
    border: 1px solid #B2B3B4;
    border-radius: 5px;
    padding-left: 13px;
}

.unitnameInput {
    border: 1px solid #B2B3B4;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #C9C9C9;
    box-sizing: border-box;
    position: absolute;
    width: 58%;
    height: 36px;
    border: 1px solid #B2B3B4;
    border-radius: 5px;
    padding-left: 13px;
}

.ifscInput {
    border: 1px solid #B2B3B4;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #C9C9C9;
    box-sizing: border-box;
    position: absolute;
    width: 554px;
    height: 36px;
    border: 1px solid #B2B3B4;
    border-radius: 5px;
    padding-left: 13px;
}

.entityDetail {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 69px;
    color: #EC8737;
    text-decoration-line: underline;
}

.horLine {
    color: #EC8737;
}

::ng-deep.addEntitytab .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label,
.mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
    color: black;
    position: relative;
    /* right: 650px; */
}

::ng-deep.addEntitytab .mat-mdc-tab-body-wrapper {
    height: 468px;

}

:host ::ng-deep.addEntitytab .mat-mdc-tab-body-content {
    height: 100%;
    overflow: hidden;
    width: 97%;
    position: relative;
    left: 19px;
}

::ng-deep.addEntitytab .mat-mdc-tab-labels {
    display: none;
    flex: 1 0 auto;
    width: 12%;
}

.unitcodeLabel {
    line-height: 42px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #464A53;
}

.stateLabel {
    line-height: 85px;
}

:host ::ng-deep.levelDropdown .ng-select.ng-select-single .ng-select-container {
    height: 30px;
    line-height: 1.5;
}

:host ::ng-deep.ng-select .ng-select-container {
    color: #333;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    min-height: 36px;
    align-items: center;
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #C9C9C9;
    }

.rowState {
    margin-top: 34px;
}

.sLabel {
    line-height: 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #464A53;
}

.emailsInput {
    border: 1px solid #B2B3B4;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #C9C9C9;
    box-sizing: border-box;
    position: absolute;
    width: 66%;
    height: 36px;
    border: 1px solid #B2B3B4;
    border-radius: 5px;
    padding-left: 13px;
}

.backButton {
    position: relative;
    width: 125px;
    /* height: 50px; */
    left: 50px;
    background: #00A2FF;
    border-radius: 5px;
}

.SaveButton {
    position: absolute;
    width: 160px;
    height: 50px;
    /* left: 828px; */
    background: #7BB31A;
    border-radius: 5px;
    right: 1px;
}

.resetButton {
    position: absolute;
    width: 160px;
    height: 50px;
    right: 196px;
    background: #00A2FF;
    border-radius: 5px;
}
::placeholder {
    color:#C9C9C9;
    opacity: 1; /* Firefox */
  }

:host ::ng-deep.levelDropdown .ng-dropdown-panel.ng-select-bottom {
    width: 99%;
    position: absolute;
    left: 2px;
    
}
::after.ng-select .ng-has-value.ng-placeholder {
    display: none;
    }

    body {
        padding: 20px;
      }
      ::ng-deep.select {
        word-wrap: normal;
        height: 48px;
        width: 25%;
        /* position: absolute; */
        left: 940px;
    }

    ::ng-deep.ng-value-container .ng-value {
        white-space: normal;
    }
    @supports (-moz-appearance:none) {
        .ifscInput {
           width: 579px;
        }
        .pinCodeInput{
            width:455px
        }
        .unitnameInput{
            width: 58%;
        }
        .emailsInput{
            width: 935px;
            height: 48px;
        }
        .backButton{
            left: 877px;
        }
    .rowFirefox{
        position: relative;
        bottom: 22px;
    }  
    }
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        .ifscInput {
            width: 40%;
         }
         .pinCodeInput{
            width: 31%;
         }
        }


 input:read-only {
    font-weight: 700 !important;
    background-color: #EFEFEF4D;
}
:host ::ng-deep .ng-select.ng-select-disabled>.ng-select-container {
    font-weight: 700 !important;
    color: #C9C9C9;
    background-color: #EFEFEF4D;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
