<!--Delete PopUp From Edit Entity-->
<div *ngIf="show == true" class="dialog-overlay" (click)="closeDialog()">
    <div *ngIf="uploadStatus == 'success' " class="dialog-content-success" (click)="$event.stopPropagation()">
            <div class="row warnHeader">
                <div class="col-12">
                    <h1 class="heading">Success </h1>
                    <!-- <button class="closeIcon" (click)="closeDialog()">close</button> -->
                </div>
            </div>
            <br>
            <div class="row warningRow">
                <div class="col-12">
                    <p class="warningMsg">{{entitymessage}}</p>
                </div>
                <br>
                <hr><br>
        
            </div>
            <div class="button-container">
                <div class="col-6">
                    <label class="delete-button" (click)="closeDialog()" >Close</label>
                </div>
            </div>
    </div>

    <div *ngIf="uploadStatus == 'AlreadyExist' " class="dialog-content" (click)="$event.stopPropagation()">
        <div class="row warnHeader">
            <div class="col-12">
                <h1 class="heading">Alert !</h1>
                <!-- <button class="closeIcon" (click)="closeDialog()">close</button> -->
            </div>
        </div>
        <br>
        <div class="row warningRow">
            <div class="col-12">
                <p class="warningMsg">{{entitymessage}}</p>
            </div>
            <br>
            <hr><br>
    
        </div>
        <div class="button-container">
            <div class="col-6">
                <label class="closed-button" (click)="closeDialog()" >Close</label>
            </div>
        </div>
</div>

</div>
