.container-fluid{
    background: #707881;
    height: 160%;
    color: white;
    width: 102%;
    margin-left: -13px
}
.firstCol{
    padding-left: 0%;
    padding-top: 1%;
}
.img{
    height: 24px;
    margin-bottom: 7px;
}
::ng-deep .mat-icon.cll {
bottom: 0px;
}
.thirdCol{
    padding-left: 105px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.fCol{
    padding-left: 100px;
}
.fColl{
    padding-left: 60px;
}

.username{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    padding-left: 20px;
}