.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    background: white;
     padding-left: 20px;
}

::ng-deep.mat-mdc-tab-labels {
    width: 38%;

}

::ng-deep.mat-mdc-tab .mdc-tab__text-label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: black;
}

::ng-deep.mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label,
.mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
    color: black;
}

.gridRow {
    height: 623px;
    background: rgba(255, 255, 255, 0.78);
    opacity: 0.78;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 101%;
    margin-top: -10px
}

:host ::ng-deep.mat-mdc-tab-body-content {
    height: 100%;
    overflow: unset;
    width: 97%;
    position: relative;
    left: 19px;
}


.gridRow1 {
    background: rgba(255, 255, 255, 0.78);
    opacity: 0.78;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.editImg {
     cursor: pointer;
}
.editImg1 {
     cursor: pointer;
     position: relative;
     right: 35px;
}
.editImg2 {
     cursor: pointer;
     position: relative;
     left: 2px;
}
.editImg3 {
     cursor: pointer;
     position: relative;
     right: 28px;
}
.editImg4 {
     cursor: pointer;
     position: relative;
     left: 2px;
}

.deleteImg{
    bottom: 30px;
    position: relative;
    left: 168px;
    cursor: pointer;
}
.deleteImg1{
    position: relative;
    left:4px;
    cursor: pointer;
}
.authImg{
    right: 25px;
    position: relative;
    cursor: pointer;
}
.authImg1{
    right: 0px;
    position: relative;
    cursor: pointer;
}
.gridStyle {
    background: rgba(255, 255, 255, 0.78);
 
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 50px;
 
    border-radius: 3px;
    margin-left: 1px;
    margin-right: 1px;
    width: 100%;
    
}
.gridStyleMain{
    background: rgba(255, 255, 255, 0.78);
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 475px;
    border-radius: 3px;
     padding-left: 19px;
    padding-top: 10px;
    margin-top: 8px;
    
}
.paginDiv{
    position:relative; 
    bottom: 7%;
    left: 63%;
}
/*-- Dropdown --*/
.custom-wrapper {
    max-width: 460px;
    margin: 0 auto 50px;
}

::ng-deep.multiselect-dropdown {
    border: 1px solid rgba(0, 0, 0, 0.33);
    border-radius: 7px;
    position: relative;
    width: 69%;
    font-size: inherit;
    font-family: inherit;
}

::ng-deep.multiselect-dropdown .dropdown-btn {
    height: 36px;
    width: 66%;
}

.entityLabel {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 34px;
    margin-left: 90px;
    color: #000000;
}

.searchIcon {
    position: absolute;
    top: 6px;
    left: 7px;
    color: grey;
}

.ag-header-cell-text {
    /* font-family: 'Sans Serif Collection'; */
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.78);
}

::ng-deep.ag-header-cell-text {

    overflow: hidden;
    text-overflow: ellipsis;
    /* font-family: 'Sans Serif Collection'; */
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 30px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.78) !important;
}

::ng-deep.ag-header {
    background-color: rgba(43, 190, 95, 0.1);
    ;
}

::ng-deep.ag-paging-panel {
    align-items: center;
    display: flex;
    justify-content: center;
}

.ag-theme-alpine {
    --ag-header-column-separator-display: block;
    --ag-header-column-separator-height: 50%;
    --ag-header-column-separator-width: 1px;
    --ag-header-column-separator-color: darkgrey;


 
}

.ag-theme-alpine {
    /* disable all borders */
    --ag-borders: display;
    /* then add back a border between rows */
    --ag-row-border-style: line;
    --ag-row-border-width: 2px;
    --ag-row-border-color: rgb(150, 150, 200);
   
    

    
}

::ng-deep.ag-header-cell {

    border-right: 1px solid ag-param(secondary-border-color);
}

::ng-deep.ag-ltr .ag-cell {
    cursor: pointer;
    font-size: 12px;
}



.dropdown-form {
    position: relative;
}

.colStyle {

    margin-top: 10px;
    cursor: pointer;
 
}
.colStyleSearch{
    margin-top: 10px;
    cursor: pointer;
}
.colStyleIcon{
    margin-top: 10px;
    cursor: pointer;
    width: 255px;
    position: relative;
    left: 120px;
}

.colStylee {
 
    margin-top: 10px;
    cursor: pointer;
    position: relative;
    right: 61px;
}

.colStyles {
    margin-left: -8%;
    margin-top: 8px;
}

.searchBarstyle {
    cursor: pointer;
    position: relative;
    margin-left: 40%;
    bottom: 3px;
}

.searchbarInput {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    width: 170px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    padding-left: 31px;
}

.colAdd {
    position: relative;
    margin-top: 10px;
    cursor: pointer;
    left: 98px;
}

.gridUnit {
    width: 1373px;
    height: 350px;
    font-size: 12px;
}

.sidenavStyle {
    padding-top: 2%;
    padding-left: 6%;
    

}

   .app-dashboarscreen{
    position: relative;
        bottom: 70px;
    }
    .ag-theme-alpine {
        --ag-header-column-separator-display: block;
        --ag-header-column-separator-height: 30%;
        --ag-header-column-separator-width: 2px;
        --ag-header-column-separator-color: rgba(0, 0, 0, 0.34);

    }

.class {
    position: absolute;
    left: 60%;
    bottom: 22%;
}

::ng-deep.pinningdrp .multiselect-dropdown {
    position: relative;
    width: 41%;
    font-size: inherit;
    font-family: inherit;
}
.overlayDiv{
    position: relative;
      height: 126px;
             width: 477px;
                 border: 1px solid;
                           background: white;
                           padding-right: 16px;
}
.overlayCol1{
    position: relative;
                            top: 26px;
                            left: 10px;
}
.overlayCol2{
    position: relative;
                            top: 26px;
}
.viewEn{
    cursor: pointer;
    position: relative;
    right: 30px;
}
.viewEn1{
    cursor: pointer;
    position: relative;
    right: 2px;
}
::ng-deep .mat-mdc-tab-group {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 4%;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

@supports (-moz-appearance:none) {
    .addImgIcon{
        position: absolute;
        right: 83%;
        top: 1%;
        cursor: pointer;
      }
      .colStyleIcon {
        margin-top: 14px;
        cursor: pointer;
        position: relative;
        left: 1%;
      }
   .colStyle{
  margin-top: 10px;
  cursor: pointer;
  margin-left: 0px;
}
}


::ng-deep .ag-header-cell-resize::after {
    content: "";
    position: absolute;
    z-index: 1;
    display: var(--ag-header-column-resize-handle-display);
    width: var(--ag-header-column-resize-handle-width);
    height: var(--ag-header-column-resize-handle-height);
    top: calc(50% - var(--ag-header-column-resize-handle-height) * 0.5);
    background-color:rgba(27, 27, 27, 0.051);
}


 .main{
    display: grid;
 }

 .side{
    position: relative;
    left: -25px;
 }
 .entityScreen{
    overflow: hidden;
 }
.dashboardS{
    position: relative;
    bottom: 136%;
    width: 86%;
}
.entityL{
    margin-top: -20px;
}
.unitLabel{
    font-size: 12px;
}

.ag-cell {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

::ng-deep.ag-theme-alpine {
    --ag-grid-size: 3.6px;
    --ag-list-item-height: 20px !important;
}
/* @media screen and (min-resolution: 125dpi) {
    .gridRow{
        overflow-y: scroll;
    }
 } */

 @media screen and (min-width: 1024px) {
    .entityScreen{
        height: 745px;
    }
 }


.search1{
    margin-left: 4%;
}
.search2{
    margin-left: 12.5%;
}