<!-- <p>entity-upload works!</p> -->
<!-- <p>entity-screen works!</p> -->
<div class="entityUpload" [style.height]="authorizePermission ? '683px':'758px'">
<!-- <div class="row">
    <div class="col-2" style="padding-left: 6%;">
        <app-sidenav-bar></app-sidenav-bar>
        <app-dashboard-header class="app-dashboarscreen"></app-dashboard-header>

    </div>
</div> -->
<div class="entityU">
<hr>
<div class="container-fluid">
    <div class="row gridRow" [style.height]="authorizePermission ? '525px':'600px'">
        <div class="col-12">
            <!-- <br> -->
           <div class="row levelRow" *ngIf="!authorizePermission && EditFunctionality === 'EditTrue'">
            <div class="col-3" >
                <label class="unitcodeLabel">Level*</label>
                <!-- <ng-select [items]="levelsData" [clearable]="false" class="levelDropdown"
                    (change)=changeLevel($event) id="levelSt" name="levelSt" placeholder="Select Level" 
                    bindLabel="levelName" bindValue="level" [(ngModel)]="Level" required #levelSt="ngModel">
                </ng-select> -->
                <ng-select disabled="true" [(ngModel)]="Level" [clearable]="false" class="levelDropdown" placeholder="Select Level" required #levelSt="ngModel">
                    <ng-option selected  [value]="4">{{'Branches'}}</ng-option>
                 </ng-select>                 
                <p style="padding:0px; position: static;"
                    *ngIf="levelSt.invalid && (levelSt.dirty || levelSt.touched)" class="alert">
                    <span class="errState" *ngIf="levelSt.errors?.['required']">
                        *Level is required
                    </span>
                </p>
            </div>
            <div class="col-3">
                <label class="unitcodeLabel">Parent Unit *</label>
                <ng-select [clearable]="false" (change)="getParentLevel($event)" class="levelDropdown"
                    id="parentu" name="parentu" placeholder="Select Parent Unit" [items]="combinedArray"
                    bindLabel="unit" bindValue="unitCode" [(ngModel)]="parentUnit" required #parentu="ngModel">
                </ng-select>
                <p style="padding:0px;position:static;"
                    *ngIf="parentu.invalid && (parentu.dirty || parentu.touched)" class="alert">
                    <span class="errParentU" *ngIf="parentu.errors?.['required']">
                        *Parent Unit is required
                    </span>
                </p>
            </div>
            <div class="col-2 colFilepIcker">
         <label class="unitcodeLabell">Select File : </label>
        <input accept="'.csv'" type="file" name="inputFile" style="display: none" #fileInput (change)="changeListener(fileInput)" />
        <button mat-raised-button class="file-select-button" (click)="fileInput.click()">
        <img src="../../assets/image/attach icon.svg">
        </button>
        <p class="file-name fileStyle" *ngIf="selectedFile">{{ selectedFile.name }}</p>
        <p style="color: red; margin-top: -15%;" *ngIf="!checkCSV" class="alert">
            <span class="errParentU">Please upload file in .csv format. </span></p>

 </div>
        <div class="col-2 colStyleIconS">
            <button [disabled]="!parentUnit||!Level || !selectedFile" (click)="uploadFile()" class="btn btn-primary SaveButton">Submit</button>
        </div>
           </div>
           <div class="levelRow">
            
           </div>
            <div style="padding: 4px; position: relative;">
                <div class="row  gridStyle">
                    <div class="col-1 colStyle ">
                        <img (click)="generatePDF(gridOptions)" src="../../assets/image/pdf icon.svg" title="Download PDF">
                    </div>
                    <div class="col-1 colStylee">
                        <img (click)="downloadExcel()" src="../../assets/image/excel icon.svg" title="Download Excel" style="position: relative; right: 10px;">
                    </div>
                    <div class="col-2 colStyles">
                                </div>
                
                    <div class="col-4 colStyle">
                        <label class="entityLabel">Branches Upload</label>
                    </div>
                
                    <div class="col-1 colStyle">
                        <div class="searchBox d-flex searchBarstyle">
                            <mat-icon class="searchIcon">search</mat-icon>
                            <input class="searchInput searchbarInput" type="text" name=""
                                (keyup)="onFilterTextBoxChanged(gridOptions,$event)" placeholder="Search ">
                        </div>
                    </div>
                    <div class="col-2 colStyleIcon" *ngIf="!authorizePermission" >
                        <img *ngIf="showhided && viewPermission && !authorizePermission" src="../../assets/image/view.svg" (click)="forVIewDownloadData()"class="viewEn" title="View Entity" >
                         <img *ngIf=" uploadStatus !== 'A' && uploadStatus !== 'S' && showhided && EditFunctionality === 'EditTrue'" src="../../assets/image/Delete-button.svg" (click)="DeleteEntity()" class="editImg">
                        <img *ngIf="showhided" src="../../assets/image/download.png" class="editImg" (click)="onBtnExport()">
                    </div>
                    <div class="col-2 colStyleIcon"  >
                        <img *ngIf="showhided && viewPermission && authorizePermission" src="../../assets/image/view.svg" (click)="forVIewDownloadData()"class="viewEn" title="View Entity" >
                        <img src="../../assets/image/Authorize-button.svg" title="Authorize Entity"
                        *ngIf="authorizePermission && showhided && checker !== maker && uploadStatus === 'S'"
                        data-bs-toggle="modal" data-bs-target="#exampleModal"
                        class="editImg"
                        [ngClass]="{ 'disabled': checker === maker }"
                        [attr.disabled]="checker === maker ? true : null" >

                        <!--Adding popup where checker == maker-->
                        <!-- <img *ngIf="checker === maker && uploadStatus === 'S' && showhided" src="../../assets/image/Authorize-button.svg" title="Authorise Entity"
                        (click)="OnAuthDialog()"
                        [ngClass]="{ 'disabled': checker != maker }"
                        class="editImg" > -->

                        <img src="../../assets/image/download.png" class="editImg" (click)="onBtnExport()"  *ngIf="authorizePermission && showhided" title="Download Entity">
                    </div>                   
                </div>
                <br>
                <div class="row gridEntity"> 
                    <div class="col-12">
                        <ag-grid-angular class="gridUnit" style=" height: 445px; position: relative; right: 12px;"
                            class="ag-theme-alpine" [rowData]="uploadFileData" (gridReady)="onGridReady($event)"
                            (cellClicked)="onCellClicked($event)" (gridReady)="onGridReady($event)"
                            [defaultColDef]="defaultColDef" [columnDefs]="columnDefs" [pagination]="true"
                            [paginationPageSize]="pageSize"
                            [paginationAutoPageSize]="false"  [cacheBlockSize]="pageSize"
                            [paginationNumberFormatter]="customNumberFormatter"
                            [groupSelectsChildren]="true">>
                        </ag-grid-angular>
                        <!-- <div class="paginDiv">
                            <label for="pageSize"></label>
                            <select id="pageSize" [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChanged()">
                                <option value="8">8</option>
                                <option value="15">15</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                              </select>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div style="position: relative; left: 85%; top: 5px;">
        <button class="btn back-btn" routerLink = "/entity-screen">Back</button>
    </div>
</div>
<div class="row">
    <div class="col-12 footer" >
      <app-nrlm-footer></app-nrlm-footer>
    </div>
</div>
</div>
</div>

 <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-center" style="background: red !important; height: 45px;">
          <h1 class="modal-title text-center flex-grow-1 mt-3" id="exampleModalLabel">Action Required</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h4>* Remarks is mandatory for Reject</h4>
          <div class="mb-3">
            <textarea [maxlength]="200" class="form-control" [(ngModel)]="remarks" id="exampleFormControlTextarea1" rows="3" required style="height: 75px;"></textarea>
          </div>
        </div>
        <div class="modal-footer justify-content-around m-3"  >
          <button style="background: #FF5B5B; color: white;" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModalToggle3" data-bs-dismiss="modal" [disabled]="remarks.trim() === ''">Reject</button>
          <button style="background: #00A2FF;color: white;" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModalToggle2" (click)="Authorize()">Authorise</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Reject comment modal -->
<div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel3" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-center" style="background:#E1F6E8 !important">
          <h1 class="modal-title text-center flex-grow-1" id="exampleModalLabel">Comment</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center p-5">
          <h4>Are you sure you want to Reject?</h4>
        </div>
        <div class="modal-footer justify-content-around m-3" >
          <a class="btn btn-link btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModalToggle" (click)="reject()">Yes</a>
          <a class="btn btn-link btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">No</a>
          </div>
      </div>
    </div>
  </div>

<app-upload-status-dialog></app-upload-status-dialog>
<app-warning-auth-dialog></app-warning-auth-dialog>
<app-warning-dialog></app-warning-dialog>
<app-error-dialog></app-error-dialog>