<!-- <div class="outercontainer">
  <div class="logincontainer">

    <img src="../../assets/image/close.png" alt="" class="close-icon" (click)="close()">

    <div class="row">
      <div class="col-12">
        <img src="../../assets/image/NRLM Logo.svg" alt="" class="nrlmLogoL">
      </div>
    </div>
    </div> 
    <div class="row" *ngIf="loginscreen ">
<div class="row">
<div class="col-12">
    <h5>Login into Your Account</h5>
</div>
</div>
<div class="row" style="position: relative;bottom: 23px;
left: 14px;">
<div class="row">
    <div class="col-1"></div>
    <div class="col-8">
        <label class="labelID">User ID*</label><br>
        <input type="text" required placeholder="User name" class="userInput" id="uname" name="uname"   [(ngModel)]="username" #uname="ngModel">
        <p style="margin-bottom:-22px; padding: 0px;" *ngIf="uname.invalid && (uname.dirty || uname.touched)"
        class="alert">
         <span style="color:red;position: relative;" *ngIf="uname.errors?.['required']">
        *User Name is required
      </span> 
    </div>
    <div class="col-1"></div>
</div>

<br><br><br><br>

<div class="row paswordsection">
    <div class="col-1"></div>
    <div class="col-8">
        <label class="labelID">Password*</label><br>
        <input type="text" required placeholder="***************" class="userInput"  [(ngModel)]="password" #pswrd="ngModel">
        <p style="margin-bottom:-22px; padding: 0px;" *ngIf="pswrd.invalid && (pswrd.dirty || pswrd.touched)"
        class="alert">
      <span style="color:red;position: relative;" *ngIf="pswrd.errors?.['required']">
        *Password is required
      </span>
    </div><br>
    <div class="col-1">
       
          </div>
          <div class="col-1"></div>
        </div>

        <br><br><br><br>

        <div class="row">
          <div class="col-1"></div>
          <div class="col-8">
            <label class="labelID">Password*</label><br>
            <input type="text" required placeholder="***************" class="userInput" [(ngModel)]="password"
              #pswrd="ngModel">
            <p style="margin-bottom:-22px; padding: 0px;" *ngIf="pswrd.invalid && (pswrd.dirty || pswrd.touched)"
              class="alert">
              <span style="color:red;position: relative;" *ngIf="pswrd.errors?.['required']">
                *Password is required
              </span>
          </div><br>
          <div class="col-1">

          </div>
          <div class="row">
            <div class="col-8"></div>
            <div class="col-4" (click)="forgotPassword()">
              <label class="forgotPasswrd">Forgot Password?</label>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-5">
          <button type="button" class="btnselectRole btn-primary" data-toggle="button" aria-pressed="false"
            autocomplete="off" (click)="login()" [disabled]="!username || !password">
            Login
          </button>
        </div>
        <div class="col-3"></div>
      </div>
    </div>
  </div>
</div> -->
<div class="logincontainers" *ngIf="loginscreen">
<div class="container-fluid">
  <img src="../../assets/image/close.png" alt="" class="close-icon" (click)="close()">
  <div class="row">
    <div class="col-12 mt-4" style="text-align: center;">
      <h5 class="loginhead">NRLM Interest Subvention</h5>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-12" style="text-align: center;">
        <h5 class="loginSubhead">Login into Your Account</h5>
      </div>
    </div>
    <div class="row" style="margin-left: -12px;margin-top: 70px;">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-8 userIddd">
          <!-- <label class="labelID">User ID*</label><br> -->
          
          <input type="text" required placeholder="User name" class="userInput" id="uname" name="uname"
            [(ngModel)]="username" #uname="ngModel"><mat-icon class="userIdIcon">person</mat-icon> 
          <p  style="padding:0px;" *ngIf="uname.invalid && (uname.dirty || uname.touched)"
            class="alert">
            <span class="errMSggg" *ngIf="uname.errors?.['required']">
              *User Name is required
            </span>
        </div>
        <div class="col-1"></div>
      </div>
  
      <br><br><br><br><br>
  
      <div class="row">
        <div class="col-1"></div>
        <div class="col-8">
          <!-- <label class="labelID">Password*</label><br> -->
          <input placeholder=" *********"  maxlength="45" class="userInput" type="password"
 [type]="showPassword ? 'text' : 'password'"  name="password" required [(ngModel)]="password" #pswrd="ngModel" pInputText required />
   <mat-icon>lock</mat-icon>
           <mat-icon class="hidePaswrd" matSuffix (click)="togglePasswordVisibility()">
           {{showPassword?'visibility':'visibility_off'}}
           </mat-icon>
          <p style=" padding: 0px;" *ngIf="pswrd.invalid && (pswrd.dirty || pswrd.touched)"
            class="alert">
            <span class="errMSggg" *ngIf="pswrd.errors?.['required']">
              *Password is required
            </span>
        </div><br>
        <div class="col-1">
  
        </div>
        <div class="row">
          <div class="col-8"></div>
          <div class="col-4" (click)="forgotPassword()">
            <label class="forgotPasswrd">Forgot/Reset Password?</label>
          </div>
          <!-- <form>
          
            <re-captcha (resolved)="resolved($event)" siteKey="6LfLTjcpAAAAAIwR4tRiU69N9wTh2V2hYt56Z5e6"></re-captcha>
          
          </form> -->
          <!-- <form (ngSubmit)="onSubmit()">
      
            <button type="submit">Captcha</button>
        </form> -->
        <!-- <form [formGroup]="aFormGroup">
          <ngx-recaptcha2 #captchaElem
            [siteKey]="siteKey"
            formControlName="recaptcha">
          </ngx-recaptcha2>
        </form> -->
        <!-- <form #form="ngForm">
          <div class="row mt-3">
            <div class="col-sm-12 mb-2">
              <button type="button" class="btn btn-sm btn-primary" (click)="send()">Send</button>
            </div>
          </div>
        </form> -->
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-5">
        <button type="button" class="btnselectRole btn-primary" data-toggle="button" aria-pressed="false"
          autocomplete="off" (click)="send()" [disabled]="!username || !password">
          Login
        </button>
        <p class="errText">{{errorMessageloginFailed}}</p>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
</div>
</div>
<div class="logincontainers" *ngIf="getcreatepasswordscreen">
  <div class="container-fluid">
    <img src="../../assets/image/close.png" alt="" class="close-icon" (click)="close()">
    <div class="row">
      <div class="col-12 mt-4" style="text-align: center;">
        <h5 class="loginhead">NRLM Interest Subvention</h5>
      </div>
    </div>
    <div class="row">
      <div class="row">
        <div class="col-12">
            <h5 class="createpassrd">Create Password</h5>
        </div>
        </div>
        <div class="row" style="position: absolute;
        left: 11px; top:95px">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-8">
                <label class="labelID">New Password*</label><br>
                <input  placeholder=" " minlength="8"  maxlength="45" class="userInput userPaddingpasrd" id="uname" name="uname" 
                [type]="showPassword ? 'text' : 'password'" required [pattern]="passwordPattern"
                [(ngModel)]="newpassword" #uname="ngModel" pInputText required />
                  <mat-icon>lock</mat-icon>
                          <mat-icon class="hidePaswrdP" matSuffix (click)="togglePasswordVisibility()">
                          {{showPassword?'visibility':'visibility_off'}}
                          </mat-icon>
                <!-- <input type="text" required placeholder="" class="userInput userPadding" id="uname" name="uname"   [(ngModel)]="newpassword" #uname="ngModel"> -->
                <p style="padding: 0px;" *ngIf="uname.invalid && (uname.dirty || uname.touched)"
                class="alert">
                 <span class="errMSggg" *ngIf="uname.errors?.['required']">
                *New Password is required
              </span> 
              <span class="errMSgggChar" *ngIf="uname.errors?.['minlength'] && !uname.errors?.['pattern'] " >
                *Password length must Greater than 8 and less than 25 Characters
              </span>
              <span class="errMSgggnew" *ngIf="uname.errors?.['pattern']">
                *One smallcase, one uppercase, one number and special character  is required.
              </span> 
            
            </div>
            <div class="col-1"></div>
        </div>
        
        <br><br><br><br><br>
       
        <div class="row">
            <div class="col-1"></div>
            <div class="col-8">
                <label class="labelID">Re-Enter Password*</label><br>
                <input  minlength="8"  maxlength="45" class="userInput userPaddingpasrd" id="pswrd" name="pswrd" 
                [type]="showConfirmPassword ? 'text' : 'password'" required [(ngModel)]="confirmpassword" (keyup)="ReEnterPassword($event)" #pswrd="ngModel" pInputText  required />
                  <mat-icon>lock</mat-icon>
                          <mat-icon class="hidePaswrdP" matSuffix (click)="toggleConfirmPasswordVisibility()">
                          {{showConfirmPassword?'visibility':'visibility_off'}}
                          </mat-icon>
                <!-- <input type="text" required placeholder="" class="userInput userPaddingpasrd"  [(ngModel)]="confirmpassword" #pswrd="ngModel"> -->
                <!-- <p style=" padding: 0px;" *ngIf="pswrd.invalid && (pswrd.dirty || pswrd.touched)"
                class="alert"> -->
              <!-- <span class="errMSggg" *ngIf="pswrd.errors?.['required'] ">
                *Password is required
              </span> -->
              <span class="errMSggg" *ngIf="showErrMg">
                *Password not matched
              </span>
            </div><br>
            <div class="col-1">
               
                  </div>
                     </div>
        </div>
        <br>
        <p class="sucessMsg">{{msgSuccess}}</p>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-5">
                <button type="button" class="btnselectRole btn-primary btnEnter" data-toggle="button" aria-pressed="false" autocomplete="off"  (click)="againloginscreen()" [disabled]="(newpassword !== confirmpassword) || uname.errors?.['pattern'] || uname.errors?.['required'] || pswrd.errors?.['required'] || uname.errors?.['minlength']">
                   Enter 
                  </button>
            </div>
            <div class="col-3"></div>
        </div>
        </div>
  </div>
  </div>

<app-error-dialog></app-error-dialog>
<app-warning-auth-dialog></app-warning-auth-dialog>
    <!-- <div class="row" *ngIf="againloginscreen ">
      <div class="row">
      <div class="col-12">
          <h5>Login into Your Account</h5>
      </div>
      </div>
      <div class="row" style="position: relative;bottom: 23px;
      left: 14px;">
      <div class="row">
          <div class="col-1"></div>
          <div class="col-8">
              <label class="labelID">User ID*</label><br>
              <input type="text" required placeholder="User name" class="userInput" id="uname" name="uname"   [(ngModel)]="username" #uname="ngModel">
              <p style="margin-bottom:-22px; padding: 0px;" *ngIf="uname.invalid && (uname.dirty || uname.touched)"
              class="alert">
               <span style="color:red;position: relative;" *ngIf="uname.errors?.['required']">
              *User Name is required
            </span> 
          </div>
          <div class="col-1"></div>
      </div>
      
      <br><br><br><br>
      
      <div class="row paswordsection">
          <div class="col-1"></div>
          <div class="col-8">
              <label class="labelID">Password*</label><br>
              <input type="text" required placeholder="***************" class="userInput"  [(ngModel)]="password" #pswrd="ngModel">
              <p style="margin-bottom:-22px; padding: 0px;" *ngIf="pswrd.invalid && (pswrd.dirty || pswrd.touched)"
              class="alert">
            <span style="color:red;position: relative;" *ngIf="pswrd.errors?.['required']">
              *Password is required
            </span>
          </div><br>
          <div class="col-1">
             
                </div>
               <div class="row">
                  <div class="col-8"></div>
                 <div class="col-4" (click)="forgotPassword()">
                  <label class="forgotPasswrd">Forgot Password?</label>
                 </div> 
               </div>
      </div>
      </div>
      <br>
      <div class="row">
          <div class="col-3"></div>
          <div class="col-5">
              <button type="button" class="btnselectRole btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off"  (click)="login()" [disabled]="!username && !password">
                 Login 
                </button>
          </div>
          <div class="col-3"></div>
      </div>
      </div> -->
    
  <!-- </div>
</div> -->
