<div [ngClass]="labelKey=='20211' ? 'nrlmUploadView' : 'nrlmUploadView1'">
    <!-- <div class="row">
        <div class="col-2" style="padding-left: 6%;">
            <app-sidenav-bar></app-sidenav-bar>
            <app-dashboard-header class="app-dashboarscreen"></app-dashboard-header>
    
        </div>
    </div> -->
    <hr style="margin-top: -0.2rem;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-5"></div>
            <div class="col-3">
                <h2 style="font-weight: 700; position: relative;top:-14px; font-size: 15px;" *ngIf="labelKey=='20211' ">NRLM Master Upload View</h2>
                <h2 style="font-weight: 700; position: relative;top:-14px; font-size: 15px; right: 20px;"  *ngIf="labelKey=='20215'">Closed Accounts Upload View</h2>
    
            </div>
            <div class="col-4"></div>
        </div>
     <div class="gridRow" [ngStyle]="labelKey=='20211' ? {'height': '540px'} : {'height': '480px'}">
        <div class="row fRow" *ngIf="labelKey=='20211' ">
            <div class="col-1">
                <label class="unitLabel">FY Ending</label>
            </div>
            <div class="col-1 inpBox" style="width: 100px;">
                <input class="viewBox" type="" disabled [(ngModel)]="selectedLevelData[0].yr">
            </div>
            <div class="col-1">
                <label class="unitLabel">State Code</label>
            </div>
            <div class="col-1 inpBox" style="width: 100px;">
                <input class="viewBox" type="" disabled  [(ngModel)]="selectedLevelData[0].state_id">
            </div>
            <div class="col-1">
                <label class="unitLabel">Bank Code</label>
            </div>
            <div class="col-1 inpBox" style="width: 100px;">
                <input class="viewBox" type="" disabled  [(ngModel)]="selectedLevelData[0].bank_code">
            </div>
    
            <div class="col-1">
                <label class="unitLabel">State Name</label>
            </div>
            <div class="col-1 inpBox" style="width: 120px;">
                <input class="viewBox" type="" disabled  [(ngModel)]="selectedLevelData[0].state_name">
            </div>
            <div class="col-1">
                <label class="unitLabel">Bank Name</label>
            </div>
            <div class="col-1 inpBox" style="width: 187px; margin-left: -5px;">
                <input class="viewBox" type="" disabled   [(ngModel)]="selectedLevelData[0].bank_name">
            </div>
        </div>
        <div class="gridStyleMain" >
            <div class="row">
                <div class="col-12" >
                    <ag-grid-angular *ngIf="labelKey=='20211' "
                        class="ag-theme-alpine gridUnit" [rowData]="selectedLevelData" (gridReady)="onGridReady($event)"
                        (cellClicked)="onCellClicked($event)" (gridReady)="onGridReady($event)"
                        [defaultColDef]="defaultColDef" [columnDefs]="columnDefs" [pagination]="true"
                        [paginationAutoPageSize]="false" [paginationPageSize]="pageSize">
                    </ag-grid-angular>
    
                    <ag-grid-angular *ngIf="labelKey=='20215'"
                    class="ag-theme-alpine gridUnit" [rowData]="selectedLevelData" (gridReady)="onGridReady($event)"
                    (cellClicked)="onCellClicked($event)" (gridReady)="onGridReady($event)"
                    [defaultColDef]="defaultColDef" [columnDefs]="columnDefs2" [pagination]="true"
                    [paginationAutoPageSize]="false" [paginationPageSize]="pageSize">
                </ag-grid-angular>
                                      </div>
            </div>
        </div>    
     </div>

     <div style="position: relative; left: 88%; top: -15px;">
        <button type="button" (click)="back()" class="btn btn-primary backButton">Back</button>
    </div>
    
    </div>

   
    
    <div class="row">
        <div class="col-12 footer" >
          <app-nrlm-footer></app-nrlm-footer>
        </div>
      </div>
</div>
