.close-icon {
    margin-left: 96%;
    width: 2%;
    cursor: pointer;
}

.logincontainer {
    /* border-style: solid; */
    /* border-image: linear-gradient(to right, rgba(43, 189, 95, 1),  rgba(43, 189, 95, 1), rgba(43, 189, 95, 1), rgba(236, 135, 55, 1), rgba(236, 135, 55, 1), rgba(236, 135, 55, 1)) 1; */
    border-width: 7px;
    height: 100%;
    /* border-color: red; */
    box-sizing: border-box;
}

.pHead {
    margin-top: 15px;
    margin-left: 16px;
}

.undo {
    padding: 5px 40px;
    background: black;
    color: #fff;
    margin-right: 20px;
    border-radius: 10px;
    height: 41px;
    width: 150px;
}

:host ::ng-deep.mat-mdc-dialog-container .mdc-dialog__surface {
    margin-top: 239px;
    display: block;
    position: initial;
    height: 164px;
    width: 579px;
    background: linear-gradient(90deg, #CED4DA 0%, #F8F9FA 100%) !important;
    border: 0.5px solid #000000;
    border-radius: 10px !important;
}

.exit {
    background: #fff;
    color: black;
    padding: 5px 40px;
    border: 2px solid #000000;
    border-radius: 10px;
    height: 41px;
    width: 150px;
}
.headingPop{
    font-size: 18px;
}


.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
   
}

 h1{
  color: rgb(218, 20, 20);
  font-family: 'Roboto';
  margin-left: 160px;
}
.dialog-content {
    width: 450px;
    height: 250px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-top: 5px solid #e74c3c;
}

.dialog-content-success {
    width: 450px;
    height: 250px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-top: 5px solid #049c25;
}

.dialog-content-success h1{
    color: #049c25;
    font-family: 'Roboto';
    margin-left: 160px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.cancel-button, .delete-button, .closed-button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }

  .cancel-button {
    margin-left: 50px;
    background-color: #ccc;
  }
  
  .delete-button {
    margin-left: 170px;
    background-color: red;
    color: #fff;
  }

  .closed-button{
    margin-left: 170px;
    background-color: #049c25;
    color: #fff;
  }

  .close-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: rgb(96, 94, 94);
    top: 10px;
    right: 10px;
    line-height: 1;
  }

  .warningMsg{
    margin-left: 60px;
    margin-right: 50px;
    margin-top: 15px;
    font-family: 'Roboto';
}