<!-- <p>select-roles-popup works!</p> -->
<!-- <div class="backdropBackground" *ngIf="!display"> -->
<div class="outercontainer" >
    <div class="logincontainer">
        <!-- <mat-icon  mat-button class="close-icon" [mat-dialog-close]="true" (click)="closeconfirmorder()">close</mat-icon> -->
            <img src="../../assets/image/close.png" alt="" class="close-icon" (click)="closepopup()">
      
    <!-- <div class="row">
        <div class="col-12">
            <img src="../../assets/image/NRLM.svg" alt="" class="nrlmLogoL">
        </div>
        </div>  -->
        <div class="row" style="margin-top: 53px;">
            <div class="col-12" style="text-align: center;">
              <h5 class="loginhead">NRLM Interest Subvention</h5>
            </div>
          </div>
          <div>
            <div class="row">
                <div class="col-12">
                    <h5>Select Roles</h5>
                </div>
                </div>
                <div class="row">
                    <ng-select [(ngModel)]="selectedRole" placeholder="Roles" class="roleDrp">
                        <ng-option *ngFor="let roles of rolesFromLogin"  [value]="roles.roleCode" ><img>&nbsp;&nbsp;&nbsp;&nbsp;{{roles.role}} <mat-divider></mat-divider> </ng-option>
                       
                    
                     </ng-select>
    
                     </div>
                     <br><br>
                     <div class="row">
                        <div class="col-3"></div>
                        <div class="col-5 btnR">
                            <button type="button" class="btnselectRole btn-primary"  data-toggle="button" aria-pressed="false" autocomplete="off" (click)="dashBoardScreen()">
                               Select Role 
                              </button>
                            
                        </div>
                        <div class="col-3"></div>
                    </div>
          </div>


    </div>
</div> 

<app-error-dialog (claimPEvent)="closepopup()"></app-error-dialog>