<div class="outercontainer">
    <div >
        <!-- <mat-icon  mat-button class="close-icon" [mat-dialog-close]="true" (click)="closeconfirmorder()">close</mat-icon> -->
            <!-- <img src="../../assets/image/close.png" alt="" class="close-icon" (click)="closepopup()"> -->
        </div>
   
        <div *ngIf="getOTPdiv " class="logincontainer">
            <img style="top: 0px;" src="../../assets/image/close.png" alt="" class="close-icon" (click)="closepopup()">
            <div class="row">
                <div class="col-12" style="text-align: center;">
                  <h5 class="loginhead">NRLM Interest subvention</h5>
                </div>
              </div>
        <div class="row forgotDiv">
            <div class="col-12">
                <h5 style="margin-top: 23px;position: relative; top: 20px;">Forgot Password</h5>
                <label class="labelforgotP">Enter registered email id and instructions will be sent to you!</label>
            </div>
            </div>
         <div class="row emailRow">
            <div class="col-2"></div>
            <div class="col-7">
                <label class="labelEmail">Email Id*</label><br>
                <input (keyup)="email($event)" type="email" required placeholder="Enter Email Id"  class="emailInput"/>
                <!-- <p class="error" *ngIf="errorShow">*Email Id is required</p> -->
                <p class="invalidEmailError">{{emailErrormsg}}</p>
            </div>
            <div class="col-1"></div>
         </div>
         <br>
         <div class="row">
            <div class="col-2"></div>
            <div class="col-5">
                <button type="button" (click)="forgotPassword()" class="btnEnter btn-primary" style="margin-top: 25px;" data-toggle="button" aria-pressed="false" autocomplete="off"  >
                 Enter
                  </button>
            </div>
            <div class="col-3"></div>
        </div>     
    </div>     
   
    <div *ngIf="!getOTPdiv "class="logincontainerr">
        <div class="row" style="margin-top: -29px;">
            <div class="col-12">
                <img src="../../assets/image/close.png" alt="" class="close-icon" (click)="closepopup()">
                <!-- <img src="../../assets/image/NRLM.svg" alt="" class="nrlmLogoL" style="position: relative;top: 40px;"> -->
                <h5 style="margin-top: 0px;" class="loginhead">NRLM Interest subvention</h5>
            </div>
            </div> 
        <div class="row" style="margin-top: 61px;">
            <div class="col-12">
                <h5 class="labelotp">Enter OTP</h5>
                <label class="labelotpE">Enter the OTP you received on email</label>
            </div>
            </div>
         <div class="row">
            <!-- <div class="col-1"></div> -->
            <div class="col-9">
                <label class="labelOOtp">OTP*</label><br>
                <!-- <input type="" required placeholder=""  class="otpInput"/>
                <input type="" required placeholder=""  class="otpInput"/>
                <input type="" required placeholder=""  class="otpInput"/>
                <input type="" required placeholder=""  class="otpInput"/> -->
                <ng-otp-input style="text-align: center;    position: absolute;
                left: 45px;" (onInputChange)="onOtpChange($event)" pattern="[0-9]*"  (input)="onInput($event)" [config]="{length:6}"></ng-otp-input>
                <!-- <button *ngIf="ResendOtp" class="resndbtn col-1" [disabled]="disableResend" (click)="Resend()">Resend OTP</button> -->
            </div>
            
            <!-- <div class="col-1 Timerdisply">{{display}}</div> -->
         </div>
         <br><br><br><br>
         <!-- <p *ngIf="otpShow" class="otperror">*OTP is required</p> -->
         <p class="otpwrongmsg">{{otperror}}</p>
         <div class="row">
            <div class="col-2"></div>
            <div class="col-5">
                <button type="button" [disabled]="otpValue?.length<6" class="btnEnter btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="getcreatepasswrdscreen()" >
               Enter
                  </button>
            </div>
            <div class="col-3"></div>
        </div>     
    </div>     

    
</div>
