::ng-deep.mat-mdc-dialog-container .mdc-dialog__surface {
    display: block;
    width: 417px;
    height: 421px;
    padding: 7px;
    position: relative;
    bottom: 155%;
    /* left: -652px; */
    /* border-color: rgba(236, 135, 55, 1)
    rgba(43, 189, 95, 1);
    border: 5px solid ; */
}

.logincontainer {
    border-style: solid;
    border-image: linear-gradient(to right, rgba(43, 189, 95, 1),  rgba(43, 189, 95, 1), rgba(43, 189, 95, 1), rgba(236, 135, 55, 1), rgba(236, 135, 55, 1), rgba(236, 135, 55, 1)) 1;
    border-width: 7px;
    height: 406px;
    box-sizing: border-box;
    /* width: 102%; */
    /* margin-left: 4px; */
    /* margin-top: -21px; */
}
.logincontainerr {
    border-style: solid;
    border-image: linear-gradient(to right, rgba(43, 189, 95, 1),  rgba(43, 189, 95, 1), rgba(43, 189, 95, 1), rgba(236, 135, 55, 1), rgba(236, 135, 55, 1), rgba(236, 135, 55, 1)) 1;
    border-width: 7px;
    height: 410px;
    box-sizing: border-box;
    width: 98%;
    margin-left: -5px;
    position: absolute;
    top: 5px;
}
.close-icon {
    left: 95%;
    position: relative;
    width: 12px;
    cursor: pointer;
    top: 28px;
}

.nrlmLogoL {
    width: 111px;
    height: 98px;
    position: relative;
    left: 33%;
    /* top: 20px; */
}

.outercontainer {
    /* border-style: solid;
    border-color: green; */
    height: 525px;
    padding: 2px;
}

h5 {
    text-align: center;
    /* padding: 45px; */
    font-weight: bold;
    color: #464A53;
    /* margin-right: 41px; */
    font-size: 17px;
}

::ng-deep.ng-dropdown-panel {
    width: 92%;
    margin-left: 14px;
}

.ng-select {
    width: 64%;
    margin-left: 18%;
}

::ng-deep.ng-dropdown-panel.ng-select-bottom {
    width: 92%;
}

::ng-deep.ng-select span {
    font-weight: bold;
}

::ng-deep.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background-color: rgba(43, 189, 95, 0.2);
    ;
    color: #333;
}

.btnEnter {
    background-color: #EC8737;
    width: 246px;
    height: 44px;
    border-radius: 31px;
    border: 1px solid #EC8737;
    color: white;
    font-weight: bold;
    margin-top: 40px;
    /* margin-left: 21px; */
}

::ng-deep.ng-select.ng-select-single .ng-select-container {
    height: 50px;
    border: 1px solid #B2B3B4;
    border-width: 2px;
}

::ng-deep.mat-divider {
    position: relative;
    top: 7px;
    width: 112%;
    left: -10px;
}

.labelforgotP {
    left: 50px;
    text-align: center;
    color: #8D9098;
    position: relative;
    top: 40%;
    width: 75%;
}
.loginhead {
    position: absolute;
    width: 265px;
    height: 54px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 54px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #464A53;
    margin-left: 55px;
    margin-top: -24px;
  }
  .loginSubhead {
    position: absolute;
    width: 240px;
    height: 54px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 54px;
    display: flex;
    align-items: center;
    text-align: center;
    /* color: #464A53; */
    margin-left: 62px;
    margin-top: 23px;
  }
.labelEmail {
    font-weight: 700;
    padding-left: 14px;
    color: #464A53;
    width: 75px;
}

.emailInput {
    width: 350px;
    height: 47px;
    background: rgba(106, 112, 126, 0.0001);
    border: 1px solid #B2B3B4;
    padding-left: 9px;
    margin-left: 13px;
    font-weight: 600;
    color: #ABAFB3;
}

.otpInput {
    width: 49px;
    height: 47px;
    background: rgba(106, 112, 126, 0.0001);
    border: 2px solid #B2B3B4;
    border-radius: 5px;
    padding-left: 9px;
    margin-left: 41px;
    font-weight: 600;
    color: #ABAFB3;
}

.labelotp {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
}

.labelotpE {
    top: 10px;
    width: 375px;
    text-align: center;
    position: relative;
    left: 12px;
    color: #8D9098;

}

.labelOOtp {
    font-weight: 700;
    padding-left: 32px;
    color: #464A53;
    padding-bottom: 12px;
    font-size: 16px;
    margin-top: 41px;
}
::ng-deep.ng-otp-input-wrapper {
    margin-right: 6px;
    width: 340px;
}
.Timerdisply {
        background-color: #EC8737;
        width: 59px;
        height: 27px;
        border: 1px solid #EC8737;
        color: white;
        font-weight: bold;
        margin-top: 28px;
        padding-top: 2px;
}
.resndbtn {
    background-color: #EC8737;
    border-radius: 31px;
    border: 1px solid #EC8737;
    color: white;
    width: 109px;
    height: 29px;
    font-weight: bold;
    text-align: center;
    margin-left: 71%;
    top: 240px;
    position: absolute;
}
.error{
    color: red;
    margin-left: 19px;
    width: 140px;
}
.otperror{
    margin-left: 41px;
    color: red;
    position: absolute;
    bottom: 126px;
}

.otpwrongmsg {
    margin-left: 32px;
    color: red;
    position: relative;
    bottom: 15px;
    max-height: 0px;
}

.invalidEmailError {
    color: red;
    width: 355px;
    margin-left: 14px;
}
.emailRow{
    margin-right: 367px;
    margin-top: 60px;
}
/* .forgotDiv{
    margin-top: -32px;
} */