<!-- Add Screen Data -->

<div style="overflow: hidden;">
    <!-- <div class="row">
        <div class="col-2" style="padding-top: 1%;
            padding-left: 6%;">
            <app-sidenav-bar></app-sidenav-bar>
            <app-dashboard-header class="app-dashboarscreen"></app-dashboard-header>
        </div>
    </div> -->
    <hr>
    <div class="container-fluid ">
        <div class="row entityLabel">
            <div class="col-12">
                <label>{{mode}} Rate</label>
            </div>
        </div>
        <mat-tab-group class="addUsertab">
            <mat-tab label="Rate Detail">
                <br>
                <form #Addrate="ngForm">
                    <div class="col-12 mb-4">
                      <label class="unitcodeLabel">Unit Name *</label>
                      <select class="form-select" aria-label="Default select example" name="unitCode" required ngModel disabled>
                        <option value="" disabled selected>{{unitName}}</option>
                      </select>
                    </div>
                  
                    <div class="row">
                      <div class="col-4">
                        <label class="unitcodeLabel">Rate Type *</label>
                        <select class="form-select" disabled aria-label="Default select example" name="rateType" required ngModel>
                            <option value="" disabled selected>{{rateType}}</option>
                        </select>
                      </div>
                      <div class="col-4">
                        <label class="unitcodeLabel">Effective Date From *</label>
                        <input disabled type="date" class="form-control" name="effectiveDate" id="date" [(ngModel)]="effectiveFromDate" required disabled ngModel>
                      </div>
                      <div class="col-4">
                        <label class="unitcodeLabel">Rate *</label>
                        <input disabled type="number" class="form-control" min="0"  max="100" id="unitn" name="mclrBmRate" [(ngModel)]="rate" required ngModel placeholder="Enter Rate b/w 0-100">
                      </div>
                    </div>
                  
                    <div class="row rowState mb-5">
                      <div class="col-4">
                        <label class="sLabel">Record Status *</label>
                        <select class="form-select" aria-label="Default select example" name="entityStatus" required ngModel disabled>
                          <option value="" disabled selected>{{entityStatusName}}</option>

                        </select>
                      </div>
                    </div>
                  
                    <div class="container" style="margin-top: 120px;">
                      <div class="row justify-content-end" style="margin-right: 20px; margin-top: 50px;">
                        <div class="col-auto">
                          <button type="button"  (click)="redirect()" class="btn btn-sm" style="width: 160px; height: 50px; background:#00A2FF; border-radius: 5px; color: white;">Back</button>
                        </div>
                     
                      </div>
                    </div>
                  </form>
                  
            </mat-tab>
        </mat-tab-group>
    </div>
</div>